body {
    font-family: 'Lazord Sans Serif', sans-serif;
    background-color: #E6E6DD;
    color: #000000;
    margin: 0;
    padding: 0;
}

.container {
    background-color: #F7F7F3;
    padding: 20px;
    border-radius: 10px;
    margin-top: 50px;
    border: 2px solid #BE2F35;
}

h1 {
    color: #BE2F35;
}

table {
    background-color: #F7F7F3;
    border-collapse: collapse;
    width: 100%;
}

th, td {
    text-align: center;
    padding: 8px;
    border: 1px solid #BE2F35;
}

thead {
    background-color: #BE2F35;
    color: #FFFFFF;
}
