body {
    font-family: 'Lazord Sans Serif', sans-serif;
    background-color: #E6E6DD;
    color: #000000;
    margin: 0;
    padding: 0;
}

.container {
    background-color: #F7F7F3;
    padding: 20px;
    border-radius: 10px;
}

h1 {
    color: #BE2F35;
}

.table-container {
    margin-top: 50px;
}

.table-container table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.table-container th, .table-container td {
    border: 1px solid #000;
    padding: 8px;
    text-align: center;
}

.table-container thead {
    background-color: #BE2F35;
    color: #FFFFFF;
}
