body {
    font-family: 'Lazord Sans Serif', sans-serif;
    background-color: #E6E6DD;
    color: #000000;
    margin: 0;
    padding: 0;
}

.container {
    background-color: #F7F7F3;
    padding: 20px;
    border-radius: 10px;
    margin-top: 50px;
    border: 2px solid #BE2F35;
}

h1 {
    color: #BE2F35;
}

table {
    background-color: #F7F7F3;
    border-collapse: collapse;
    width: 100%;
}

th,
td {
    text-align: center;
    padding: 8px;
    border: 1px solid #BE2F35;
}

thead {
    background-color: #BE2F35;
    color: #FFFFFF;
}

.search-container {
    margin-bottom: 20px;
    position: relative;
    display: flex;
    align-items: center;
}

.search-input {
    width: 100%;
    padding: 10px 40px 10px 20px;
    border: 2px solid #BE2F35;
    border-radius: 5px;
    font-size: 16px;
    transition: all 0.3s ease;
}

.search-input:focus {
    border-color: #AA232E;
    box-shadow: 0 0 8px rgba(174, 35, 46, 0.4);
}

.search-button {
    padding: 10px 20px;
    background-color: #BE2F35;
    color: #FFFFFF;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-left: 10px;
}

.search-button:hover {
    background-color: #AA232E;
}

.search-container::before {
    content: "\1F50D";
    position: absolute;
    left: 15px;
    color: #BE2F35;
    font-size: 16px;
    z-index: 10;
}

.search-input {
    padding-left: 35px;
}

.delete-button {
    padding: 5px 10px;
    background-color: #BE2F35;
    color: #FFFFFF;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    border: none;
    cursor: pointer;
}

.delete-button:hover {
    background-color: #AA232E;
}